.para-1{
    color: aquamarine;
    background-color: black;
}
#para-2{
    color: blue;
    background-color: brown;
}
p{
    color: beige;
    background-color: blueviolet;
}
h1{
    color: aliceblue;
    background-color: chartreuse;
    
}
h2{
    color: azure;
    background-color: chocolate;
}